.button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 64px;
    background: $orange_color;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000;
    text-decoration: none;
    &:hover {
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
        color: #000;
    }
    &-intro {
        margin-top: 100px;
    }
}

@media (max-width: 1200px) {
    .button {
        &-intro {
            margin-top: 80px;
        }
    }
}

@media (max-width: 992px) {
    .button {
        &-intro {
            margin-top: 40px;
            width: 300px;
            height: 55px;
        }
    }
}

@media (max-width: 768px) {
    .button {
        &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        &-intro {
            margin-top: 20px;
            width: 200px;
            height: 40px;
            font-size: 13px;
        }
    }
}

@media (max-width: 576px) {
    .button {
        &-intro {
            margin-top: 50px;
            width: 240px;
            height: 55px;
        }
    }
}