.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(237, 246, 255, 0.9);
    box-shadow: 0px -10px 20px $dark-blue_color;
    padding: 20px 0;
    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: block;
        img {
            max-height: 50px;
            width: 100%;
        }
    }
    &__menu {
        ul {
            display: flex;
            list-style-type: none;
        }
        &-item {            
            margin-left: 60px;
        }
        &-link {
            text-decoration: none;
            color: $dark-blue_color;
            &:hover {
                border-bottom: 3px solid $orange_color;
                color: $dark-blue_color;
            }
        }
    }
    &__nav-btn {
        display: none;
        position: absolute;
        right: 0;
        top: 0%;
        width: 30px;
        height: 30px;
        background-color: $dark-blue_color;
        border-radius: 4px;
        /* display: flex; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        outline: none;
        border: none;
        z-index: 3;
        &-line {
            position: relative;
            width: 15px;
            border: 1px solid $grey_color;
            background-color: $grey_color;
            transition: all 0.5s;
            &:first-of-type {
                &.active {
                    transform: rotate(45deg) translateY(-50%);
                    top: 47%;
                }
            }
            &:last-of-type {
                &.active {
                    transform: rotate(-45deg) translateY(50%);
                    top: -47%;

                }
            }
            &:nth-of-type(2) {
                &.active {
                    visibility: hidden;
                }                
            }
        }
    }
}


@media (max-width: 1200px) {
    .header {
        height: 70px;
        padding: 18px 0;
        &__logo {
            img {
                max-height: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        height: 60px;
        padding: 15px 0;
        &__logo {
            max-width: 120px;
        }
        &__menu {
            display: none;
        }
        &__nav-btn {
            display: flex;
        }
    }
}

@media (max-width: 576px) {
    .header {
        height: 50px;
        padding: 5px 0;
        &__logo {
            max-width: 90px;
        }
    }
}