.intro {
    min-height: 100vh;
    padding: 210px 0 50px;
     .container {
        display: flex;
        justify-content: space-between;
    }
    &__photo {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__descr {
        position: relative;
        margin-top: 25px;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.5px;
        z-index: -1;
        @include before_circle;
        padding-left: 17px;
    }
    svg {
        bottom: 2px;
        margin-right: 16px;
        height: 18px;
    }
}

@media (max-width: 1200px) {
    .intro {
        padding-top: 160px;
        &__descr {
            font-size: 20px;
            padding-left: 15px;
            &:before {
                width: 30px;
                height: 30px;
            }
        }
        &__photo {
            margin-right: 5%;
            width: 300px;
            height: 300px;
        }
    }
}

@media (max-width: 992px) {
    .intro {
        padding-top: 160px;
        min-height: 600px;
        &__descr {
            font-size: 15px;
            &:before {
                width: 25px;
                height: 25px;
                top: -2px;
            }
        }
        &__photo {
            width: 230px;
            height: 230px;
        }
    }
}

@media (max-width: 768px) {
    .intro {        
        padding-top: 130px;
        &__descr {
            font-size: 12px;
            margin-top: 20px;
            padding-left: 10px;
            &:before {
                width: 20px;
                height: 20px;
            }
        }
        &__photo {
            width: 180px;
            height: 180px;
            margin-right: 2%;
        }
        svg {
            bottom: 0px;
            margin-right: 10px;
            height: 13px;
        }
    }
}

@media (max-width: 576px) {
    .intro {
        min-height: 100vh;
        .container {
            flex-direction: column;
            align-items: center;
        }
        &__photo {
            order: 1;
            margin-right: 0;
        }
        &__wrapper {
            order: 2;
            text-align: center;
        }
        &__title {
            font-size: 27px;
            line-height: 111%;
            margin-top: 60px;
        }
        &__descr {
            font-size: 15px;
            padding-left: 0;
            &:before {
                width: 20px;
                height: 20px;
                left: 12px;
                top: 0;
            }
        }
    }
}