.softskills {
    background: url(../img/sea_bg.jpg) center center/cover no-repeat;
    min-height: 600px;
    padding: 70px 0;
    &__wrapper {
        margin-top: 45px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 135px;
        justify-items: center;
    }
    &__column {
        position: relative;
        @include before_circle;
        &:before {
            z-index: 1;
            transform: translateX(-50%);
            width: 20px;
            height: 20px;
            top: -27px;
        }
    }  
    &__item {
        position: relative;
        display: flex;
        font-size: 20px;
        padding: 45px 0 0 45px;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: -27px;
            height: 100%;
            width: 45px;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
        }
    }
    &__img{
        position: relative;
        margin-right: 60px;  
        @include before_circle;
        &:before {
            z-index: 1;
        }
        svg {
            position: relative;
            height: 30px;
            z-index: 10;  
            transform: translate(40%, 40%);
        }
        
    }
}

@media (max-width: 992px) {
    .softskills {
        &__wrapper {
            gap: 80px;
            margin-top: 55px;
        }
        &__item {
            padding: 30px 0 0 30px;
            &::before {
                width: 30px;
            }
        }
        &__img{
            margin-right: 40px;
            &:before {
                width: 30px;
                height: 30px;
                top: 3px;
            }
            svg {
                height: 25px;
            }
            
        }
    }
}

@media (max-width: 768px) {
    .softskills {
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 0;
            justify-items: start;
            padding-left: 5em;
        }
        &__column:last-of-type {
            &:before {
                display: none;
            }
        }
        &__item {
            padding-top: 25px;
        }
    }
}

@media (max-width: 576px) {
    .softskills {
        &__wrapper {
            padding-left: 1em;
        }
        &__item {
            padding: 20px 0 0 20px;
            &::before {
                width: 20px;
            }
        }
        &__descr {
            font-size: 15px;
            margin-bottom: 0px;
            line-height: 50%;
        }
        &__img{
            margin-right: 40px;
            &:before {
                width: 30px;
                height: 30px;
                top: -11px;
            }
            svg {
                height: 25px;
                transform: translate(40%,-15%);
            }
            
        }
    }
}